node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Cline
memory-bank
.clineignore
.clinerules

data/

#i18n
project.inlang

# Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace

# Nix/direnv
.direnv/
