services:
  comcal:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: comcal
    restart: unless-stopped
    
    environment:
      - NODE_ENV=production
      - PORT=3000
      - ORIGIN=${ORIGIN}
    
    networks:
      - traefik_web
    
    labels:
      # Enable Traefik for this service
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_web"
      # Service
      - "traefik.http.services.comcal.loadbalancer.server.port=3000"

      # HTTP Router
      - "traefik.http.routers.comcal.rule=Host(`your-domain.com`)"
      - "traefik.http.routers.comcal.entrypoints=web,websecure"
      - "traefik.http.routers.comcal.tls.certresolver=myresolver"

networks:
  traefik_web:
    external: true
